<div
  class="site-nav__dropdown xl:absolute xs:static xl:hidden z-index-md bg-[var(--site-header-background-color)] top-custom-xl left-0 right-0"
>
  <div class="container mx-auto before relative">
    <div class="flex justify-between mx-auto width-base flex-col xl:flex-row">
      <div class="site-nav__dropdown-left border-black-right xl:w-[32.4%] xs:w-full">
        <ul>
          <li class="xl:mb-[27px] xs:mb-[20px]">
            <a href="#" title="Hair Care" class="block">
              <span class="inline-block [&>span]:block ml-[28px] mt-[11px]">
                <span class="font-first-extrabold font-[800] text-3xl my-2">Hair & Scalp Oils</span>
                <span class="font-second text-xl">Strengthen, smooth & shine.</span>
              </span>
            </a>
          </li>
          <li class="xl:mb-[27px] xs:mb-[20px]">
            <a href="#" title="Hair Care">
              <span class="inline-block [&>span]:block ml-[28px] mt-[11px]">
                <span class="font-first-extrabold font-[800] text-3xl my-2">Wash Care </span>
                <span class="font-second text-xl">Cleanse, hydrate & repair strands.</span>
              </span>
            </a>
          </li>
          <li class="xl:mb-[27px] xs:mb-[20px]">
            <a href="#" title="Hair Care">
              <span class="inline-block [&>span]:block ml-[28px] mt-[11px]">
                <span class="font-first-extrabold font-[800] text-3xl my-2">Styling </span>
                <span class="font-second text-xl">Volumize, protect & smooth frizz.</span>
              </span>
            </a>
          </li>
          <li class="xl:mb-[27px] xs:mb-[20px] xl:hidden  mb-[10px]">
            <button class="btn !bg-transparent">SHOP ALL</button>
          </li>
        </ul>
      </div>
      <div class="site-nav__dropdown-center border-black-right p-[20px] xs:w-full xl:w-[42.6%]">
        <ul class="grid grid-cols-3 gap-y-[27px]">
          <li>
            <a href="#" title="Best Selling Hair Oil  ">
              <span class="flex flex-col items-center justify-center">
                <img
                  src="{{ 'nav-col-bestsellers-new.png' | asset_url }}"
                  alt="Best Selling Hair Oil  "
                  loading="lazy"
                  class="xl:w-[132px] xl:h-[110px] xs:w-[87px] xs:h-[73px] object-contain"
                  width="132"
                  height="110"
                >
                <span
                  class="font-first-extrabold text-2xl mx-auto text-center"
                  >Best Selling Hair Oil
                </span>
              </span>
            </a>
          </li>
          <li>
            <a href="#" title="Sets & Bundles ">
              <span class="flex flex-col items-center justify-center">
                <img
                  src="{{ 'nav-col2-gift.png' | asset_url }}"
                  alt="Sets & Bundles"
                  loading="lazy"
                  class="xl:w-[132px] xl:h-[110px] xs:w-[87px] xs:h-[73px] object-contain"
                  width="132"
                  height="110"
                >
                <span
                  class="font-first-extrabold text-2xl mx-auto text-center"
                  >Sets & Bundles
                </span>
              </span>
            </a>
          </li>
          <li>
            <a href="#" title="Travel ">
              <span class="flex flex-col items-center justify-center">
                <img
                  src="{{ 'nav-col2-minisku2.png' | asset_url }}"
                  alt="Travel"
                  loading="lazy"
                  class="xl:w-[132px] xl:h-[110px] xs:w-[87px] xs:h-[73px] object-contain"
                  width="132"
                  height="110"
                >
                <span
                  class="font-first-extrabold text-2xl mx-auto text-center"
                  >Travel
                </span>
              </span>
            </a>
          </li>
          <li>
            <a href="#" title="Accessories  ">
              <span class="flex flex-col items-center justify-center">
                <img
                  src="{{ 'nav-col2-comb.png' | asset_url }}"
                  alt="Accessories"
                  loading="lazy"
                  class="xl:w-[132px] xl:h-[110px] xs:w-[87px] xs:h-[73px] object-contain"
                  width="132"
                  height="110"
                >
                <span
                  class="font-first-extrabold text-2xl mx-auto text-center"
                  >Accessories
                </span>
              </span>
            </a>
          </li>
          <li>
            <a href="#" title="Bundle Builder   ">
              <span class="flex flex-col items-center justify-center">
                <img
                  src="{{ 'newnav.png' | asset_url }}"
                  alt="Bundle Builder"
                  loading="lazy"
                  class="xl:w-[132px] xl:h-[110px] xs:w-[87px] xs:h-[73px] object-contain"
                  width="132"
                  height="110"
                >
                <span
                  class="font-first-extrabold text-2xl mx-auto text-center"
                  >Bundle Builder
                </span>
              </span>
            </a>
          </li>
          <li>
            <a href="#" title="Hair Quiz    ">
              <span class="flex flex-col items-center justify-center">
                <img
                  src="{{ 'nav-quiznew.png' | asset_url }}"
                  alt="Hair Quiz "
                  loading="lazy"
                  class="xl:w-[132px] xl:h-[110px] xs:w-[87px] xs:h-[73px] object-contain"
                  width="132"
                  height="110"
                >
                <span
                  class="font-first-extrabold text-2xl mx-auto text-center"
                  >Hair Quiz
                </span>
              </span>
            </a>
          </li>
        </ul>
      </div>
      <div class="site-nav__dropdown-right xl:w-[24%] xs:w-full">
        <div class="pl-[20px] pt-[36px]">
          <a
            href="#"
            title="Shop our NEW Dry Shampoo!"
            class="flex xl:flex-col xs:flex-row items-center xl:justify-center xs:justify-start"
          >
            <img
              src="{{ 'HP_scroll_down_image_2_clip.webp' | asset_url }}"
              alt="Shop our NEW Dry Shampoo!"
              loading="lazy"
              class="object-contain"
              width="228"
              height="244"
            >
            <span
              class="font-second text-2xl [&>svg]:inline-block [&>svg]:w-[16px] [&>svg]:h-[16px] [&>svg]:ms-[2px] mt-2"
              >Shop our NEW Dry Shampoo!
              {{- 'icon-right.svg' | inline_asset_content -}}
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
