<div class="site-nav__dropdown absolute z-index-md bg-[var(--site-header-background-color)] top-[100%] left-0">
  <div class="fljustify-between mx-auto">
    <div class="site-nav__dropdown-center pt-3 lg:pt-0">
      <ul>
        <li class="mb-8 xl:mb-0">
          <a href="#" title="Hair Quiz" class="flex items-center w-[max-content]">
            <span class="site-nav__link-image-container">
              <img
                src="{{ 'hair-quizz.avif' | asset_url }}"
                alt="Hair Quiz  "
                loading="lazy"
                class="object-cover"
                width="132"
                height="110"
              >
            </span>
            <span class="block w-[250px] ml-[21px] shrink-0">
              <span
                class="text-xl md:text-3xl font-[800] font-first-extrabold"
                >Hair Quiz
              </span>
              <span class="font-second block text-base md:text-lg">Take & Save 15%*</span>
            </span>
          </a>
        </li>
        <li class="mb-8 xl:mb-0">
          <a href="#" title="Hair Quiz" class="flex items-center w-[max-content]">
            <span class="site-nav__link-image-container">
              <img
                src="{{ 'tiger-tribe.gif' | asset_url }}"
                alt="Hair Quiz  "
                loading="lazy"
                class="object-cover"
                width="132"
                height="110"
              >
            </span>
            <span class="block w-[250px] ml-[21px] shrink-0">
              <span
                class="text-xl md:text-3xl font-[800] font-first-extrabold"
                >Tiger Tribe
              </span>
              <span class="font-second block text-base md:text-lg">Community & Rewards</span>
            </span>
          </a>
        </li>
        <li class="mb-8 xl:mb-0">
          <a href="#" title="Our Journey " class="flex items-center w-[max-content]">
            <span class="site-nav__link-image-container">
              <img
                src="{{ 'journeynav.png' | asset_url }}"
                alt="Our Journey   "
                loading="lazy"
                class="object-cover"
                width="132"
                height="110"
              >
            </span>
            <span class="block w-[250px] ml-[21px] shrink-0">
              <span
                class="text-xl md:text-3xl font-[800] font-first-extrabold"
                >Our Journey
              </span>
              <span class="font-second block text-base md:text-lg">Meet Our Founders</span>
            </span>
          </a>
        </li>
        <li class="mb-8 xl:mb-0">
          <a href="#" title="Mane Monocle" class="flex items-center w-[max-content]">
            <span class="site-nav__link-image-container">
              <img
                src="{{ 'nav-mane-monocle.png' | asset_url }}"
                alt="Mane Monocle"
                loading="lazy"
                class="object-cover"
                width="132"
                height="110"
              >
            </span>
            <span class="block w-[250px] ml-[21px] shrink-0">
              <span
                class="text-xl md:text-3xl font-[800] font-first-extrabold"
                >Mane Monocle
              </span>
              <span class="font-second block text-base md:text-lg">Discover Our Blog</span>
            </span>
          </a>
        </li>
        <li class="mb-8 xl:mb-0">
          <a href="#" title="Fable Fund " class="flex items-center w-[max-content]">
            <span class="site-nav__link-image-container">
              <img
                src="{{ 'nav-fable-fund.avif' | asset_url }}"
                alt="Fable Fund "
                loading="lazy"
                class="object-cover"
                width="132"
                height="110"
              >
            </span>
            <span class="block w-[250px] ml-[21px] shrink-0">
              <span
                class="text-xl md:text-3xl font-[800] font-first-extrabold"
                >Fable Fund
              </span>
              <span class="font-second block text-base md:text-lg">Save The Wild Ones</span>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
