<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ content_for_header }}
    {{ 'font.css' | asset_url | stylesheet_tag }}
    {{ 'jquery.min.js' | asset_url | script_tag }}
    {{ 'jquery.marquee.min.js' | asset_url | script_tag }}
    {{ 'slick.css' | asset_url | stylesheet_tag }}
    {{ 'slick.min.js' | asset_url | script_tag }}
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    {% comment %} {{ 'tailwin.js' | asset_url | script_tag }} {% endcomment %}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    >
    {{ 'header.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'header.js' | asset_url }}" defer="defer"></script>
    {{ 'base.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'config.js' | asset_url }}" defer></script>
  </head>
  <body>
    {{ content_for_layout }}
  </body>
</html>
