<style>
  .content-block__leaf {
    --leaf-rotate-start: 332deg;
    --leaf-rotate-end: 335deg;
    bottom: -1%;
    left: -40%;
    max-width: 800px;
    transform: rotate(332deg);
    width: 121%;
    position: absolute;
    opacity: 0.1;
    animation: leafRotate 10s ease-in-out alternate infinite;
  }

  @keyframes leafRotate {
    0% {
      transform: rotate(var(--leaf-rotate-start));
    }
    50% {
      transform: rotate(calc((var(--leaf-rotate-start) + var(--leaf-rotate-end)) / 2));
    }
    100% {
      transform: rotate(var(--leaf-rotate-end));
    }
  }

  @media screen and (min-width: 750px) {
    .content-block__leaf {
      --leaf-rotate-start: 349deg;
      --leaf-rotate-end: 359deg;
      left: -25%;
      transform: rotate(349deg);
      width: 90%;
    }
  }

  @media screen and (min-width: 1025px) {
    .content-block__leaf {
      bottom: auto;
      left: -22%;
      max-width: 1100px;
      top: -12%;
      width: 66%;
    }
  }

  @media screen and (min-width: 1600px) {
    .content-block__leaf {
      left: -18%;
      width: 50%;
    }
  }

  @media screen and (min-width: 1920px) {
    .content-block__leaf {
      width: 40%;
    }
  }
</style>

<div class="container mx-auto py-6 relative">
  <span class="content-block__leaf leaf-shadow">
    <svg width="499" height="452" viewBox="0 0 499 452" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M98.0255 296.94C97.622 294.605 97.2462 292.373 96.8426 290.038C94.6805 279.068 90.9161 268.749 85.8047 258.791C80.6656 248.73 75.3192 238.724 70.0765 228.69C68.2203 225.079 66.8822 221.328 66.0345 217.335C65.381 214.068 64.4168 210.884 63.6597 207.644C61.8605 199.686 61.153 191.657 62.318 183.572C62.3383 183.233 62.3309 182.791 62.0607 182.197C61.7573 182.722 61.4817 183.351 61.1783 183.877C58.0297 191.606 56.5817 199.879 55.6794 208.116C54.9011 215.988 55.1386 223.92 56.5714 231.754C57.149 235.153 58.1688 238.544 59.2645 241.804C63.5083 254.327 69.1194 266.15 75.8425 277.564C79.0551 282.922 81.9568 288.363 84.7827 293.936C87.6363 299.613 89.4538 305.567 90.9883 311.708C91.6065 314.429 92.197 317.048 92.9188 319.741C93.5018 321.917 93.6149 323.997 93.4171 326.16C93.0547 329.367 92.7959 332.546 92.4688 336.298C92.0117 335.421 91.7692 334.931 91.5546 334.544C89.6409 329.06 88.2175 323.333 85.9171 318.064C82.4805 310.211 78.4499 302.629 73.4664 295.636C70.7739 291.804 68.3645 287.785 65.672 283.954C63.1941 280.509 60.461 277.354 57.8037 274.068C56.6619 272.708 55.5202 271.348 54.5579 269.829C47.5111 259.28 42.3774 247.995 39.723 235.602C39.4934 234.331 39.188 233.191 38.8549 231.948C38.6477 232.003 38.544 232.031 38.309 231.983C38.4573 234.608 38.5019 237.262 38.7538 239.86C39.6888 247.494 40.7275 255.1 41.7662 262.707C42.7216 270.002 44.8167 276.993 48.1552 283.65C50.7387 288.732 53.398 293.683 56.5476 298.392C57.2952 299.525 57.967 300.788 58.7146 301.921C61.1166 305.497 63.4908 308.97 65.8928 312.546C68.8 316.765 71.6313 321.114 74.7457 325.277C81.2447 334.197 85.8583 343.955 89.7263 354.246C90.9534 357.582 91.7104 360.822 91.6663 364.387C91.7928 371.905 92.8037 379.408 94.229 386.8C94.4586 388.071 94.7917 389.314 95.3321 390.502C95.9558 392.001 97.1105 392.58 98.3816 392.35C99.6527 392.121 100.495 391.118 100.52 389.556C100.566 387.656 100.405 385.811 100.244 383.966C99.8812 380.954 99.546 378.046 99.1831 375.033C99.1202 374.384 99.1886 373.81 99.1256 373.161C99.3328 373.105 99.4364 373.078 99.6437 373.022C101.07 375.86 102.601 378.671 103.924 381.537C106.308 387.117 109.975 391.687 114.237 395.987C120.906 402.64 128.645 407.896 136.79 412.599C143.622 416.543 151.025 418.89 158.744 419.931C169.36 421.418 180.127 422.642 190.892 422.201C191.672 422.213 192.509 422.434 193.317 422.55C193.523 420.829 192.81 420.243 191.918 419.815C190.397 419.112 188.848 418.306 187.279 417.838C173.489 413.204 160.229 407.651 147.265 401.129C134.17 394.532 122.476 386.116 113.127 374.851C108.85 369.667 104.726 364.22 102.12 357.811C101.524 356.415 100.438 355.263 99.6346 353.923C99.2608 353.357 98.9351 352.556 99.0035 351.982C99.0957 348.182 99.2915 344.354 99.5151 340.629C99.5632 340.394 99.639 340.263 99.9905 339.502C100.324 340.745 100.649 341.547 100.768 342.403C102.821 354.624 109.694 364.11 117.982 372.662C128.256 383.235 140.805 389.867 154.472 394.867C162.719 397.877 171.062 400.417 179.721 401.65C186.086 402.61 192.548 403.1 198.961 403.825C209.597 404.973 220.204 406.017 230.6 408.34C233.316 408.945 235.956 409.681 238.569 410.314C239.274 410.458 240.11 410.678 241.182 410.946C240.351 409.503 239.3 408.897 238.352 408.262C228.911 400.797 218.788 394.514 207.678 389.939C198.615 386.371 189.236 384.109 179.657 382.344C173.264 381.281 166.899 380.321 160.774 378.186C151.981 375.212 143.409 371.401 135.898 365.751C126.277 358.445 118.017 349.997 111.855 339.433C109.147 334.716 107.58 329.695 105.881 324.597C104.813 321.441 103.669 318.416 102.601 315.259C102.407 314.534 102.109 313.836 102.253 313.131C103.035 308.591 104.053 304.098 104.938 299.53C105.014 299.398 105.09 299.267 105.553 298.921C106.428 303.017 107.352 306.879 108.172 310.768C108.79 313.49 108.966 316.219 109.66 318.809C110.556 322.567 112.225 325.896 114.233 329.245C115.999 332.103 117.792 335.065 119.557 337.924C121.696 341.349 124.374 344.296 127.363 347.16C135.56 354.958 144.903 361.228 155.183 366.025C164.178 370.167 173.717 372.609 183.475 374.214C194.512 376.032 205.673 377.483 216.971 377.788C224.572 377.972 232.138 377.611 239.732 377.353C246.572 377.186 253.33 376.708 260.066 376.568C262.72 376.524 265.381 376.921 267.986 377.112C268.428 377.104 268.926 377.304 269.472 377.269C270.902 377.219 271.385 376.534 270.789 375.139C269.764 372.97 268.02 371.439 265.767 370.488C261.287 368.69 256.58 367.286 251.804 366.455C243.296 364.959 234.837 363.228 226.233 362.202C219.819 361.477 213.318 361.664 206.891 361.72C199.374 361.847 192.021 360.93 184.908 358.838C177.532 356.594 170.205 354.115 163.484 350.585C154.717 346.049 146.557 340.462 139.825 333.159C137.756 330.826 135.301 328.708 133.335 326.347C131.37 323.986 129.584 321.467 128.006 318.891C126.24 316.032 124.834 312.856 123.172 309.969C120.195 304.659 118.716 298.725 117.057 292.951C115.76 288.523 114.462 284.096 113.165 279.668C113.082 279.357 112.998 279.046 112.812 278.763C111.351 277.044 111.895 275.344 112.646 273.588C114.369 269.24 116.091 264.891 117.813 260.543C118.165 259.782 118.62 258.994 119.441 258.33C119.456 259.214 119.471 260.099 119.458 260.879C119.671 265.82 119.498 270.975 120.153 275.907C120.927 281.697 123.463 287.015 125.376 292.499C128.684 301.94 134.822 309.513 141.629 316.684C151.724 327.417 163.798 335.176 177.444 340.515C186.244 343.932 195.568 345.987 205.029 346.894C211.856 347.508 218.606 346.588 225.3 345.46C236.589 343.657 258.498 342.118 269.759 340.211C272.951 339.689 276.004 338.649 279.14 337.919C279.865 337.725 280.514 337.662 281.24 337.468C282.849 337.259 283.699 336.698 283.939 335.523C284.283 334.32 283.743 333.132 282.222 332.429C280.438 331.575 278.682 330.824 276.878 330.308C267.809 327.962 248.094 326.915 238.808 327.071C228.533 327.27 218.155 327.496 207.769 327.281C200.818 327.033 193.907 326.109 187.072 325.053C183.837 324.587 180.692 323.209 177.677 321.906C172.278 319.577 166.879 317.248 161.955 313.792C156.215 309.778 151.524 304.705 146.909 299.5C143.089 295.193 140.147 290.429 138.054 285.104C136.695 281.692 134.819 278.419 133.461 275.007C130.37 267.617 129.172 259.831 128.803 251.823C128.69 249.744 129.434 247.545 129.867 245.43C130.492 242.376 131.22 239.293 131.846 236.238C132.066 235.402 132.258 234.462 132.741 233.777C134.389 231.225 136.273 228.722 138.052 226.246C138.308 225.955 138.591 225.768 139.205 225.16C139.222 227.709 139.231 229.817 139.165 232.056C138.975 240.88 140.989 249.224 144.17 257.367C144.552 258.376 144.961 259.488 145.37 260.6C147.306 267.41 150.892 273.335 155.252 278.83C157.058 281.011 158.684 283.352 160.566 285.402C163.908 289.17 168.092 291.936 172.352 294.571C182.447 300.75 193.542 304.44 205.401 305.594C218.745 306.904 232.067 306.888 245.193 304.482C249.552 303.758 253.912 303.034 258.326 302.518C263.805 301.827 289.814 296.524 294.96 294.59C302.509 291.679 309.871 288.484 317.336 285.262C318.421 284.75 319.477 284.133 320.741 283.462C319.634 282.648 318.702 282.898 317.817 282.912C311.191 283.466 304.641 283.889 298.071 284.65C291.19 285.494 263.528 290.018 256.675 290.966C250.678 291.796 244.611 291.534 238.516 291.168C229.844 290.715 221.116 290.055 212.573 288.013C201.521 285.311 190.992 281.247 181.594 274.77C179.437 273.349 177.355 271.797 175.197 270.376C170.723 267.355 167.042 263.566 163.769 259.223C157.81 251.491 153.295 242.929 150.637 233.424C149.998 231.041 149.747 228.443 149.757 225.997C149.781 222.77 150.247 219.536 150.402 216.385C150.484 215.03 150.123 213.683 149.83 211.763C152.439 209.065 155.51 206.021 158.912 202.555C159.301 204.005 159.579 205.041 159.725 206.002C160.825 212.592 162.028 219.155 164.502 225.489C168.494 235.413 174.213 244.32 182.243 251.497C186.048 254.919 189.749 258.37 193.884 261.371C201.527 267.097 210.299 270.41 219.699 272.333C233.066 274.971 246.401 274.174 259.736 273.377C268.808 272.834 277.463 270.737 286.119 268.64C289.151 267.939 292.017 266.615 295.042 265.472C298.482 264.217 301.846 263.093 305.285 261.839C305.492 261.783 305.672 261.624 306.134 261.278C305.195 261.086 304.697 260.886 304.151 260.921C301.836 260.986 299.494 260.947 297.103 261.144C286.732 261.812 276.521 262.661 266.1 261.899C260.081 261.402 254.001 261.921 247.954 261.32C237.581 260.323 227.249 258.65 217.529 254.702C206.945 250.431 197.271 244.583 188.97 236.812C186.749 234.742 184.784 232.381 182.791 229.917C180.078 226.424 177.545 222.771 174.832 219.278C172.493 216.351 170.824 213.023 169.956 209.368C169.365 206.75 168.464 204.215 167.666 201.653C167.25 200.099 166.626 198.6 164.683 197.566C168.189 194.072 171.758 191.228 175.693 188.508C179.437 192.946 183.077 197.413 186.793 201.747C188.225 203.363 189.581 205.109 191.193 206.565C197.35 212.134 203.354 217.966 210.201 222.794C214.177 225.616 217.898 228.728 221.923 231.314C233.022 238.335 244.768 243.628 257.692 246.272C259.807 246.705 261.998 247.007 264.161 247.204C273.981 247.794 283.647 246.981 293.346 245.048C298.921 243.888 304.682 243.01 310.257 241.849C313.421 241.224 337.747 237.926 340.855 237.093C345.235 236.031 349.586 234.865 353.966 233.802C354.588 233.636 355.106 233.497 355.72 232.888C354.856 232.565 353.992 232.241 353.052 232.048C343.811 230.304 313.485 231.101 303.971 231.651C294.118 232.181 284.243 231.385 274.464 230.118C259.26 228.084 244.944 223.147 231.371 216.011C223.261 211.854 216.041 206.459 208.793 200.961C202.52 196.201 195.868 192.097 188.912 188.52C186.603 187.361 184.493 185.706 182.045 184.029C184.502 181.594 187.424 180.478 190.019 178.561C191.176 180.805 193.422 181.314 195.386 182.01C208.347 186.866 220.53 193.374 232.513 200.38C237.928 203.593 243.266 206.938 248.756 210.02C251.881 211.737 255.158 213.191 258.483 214.41C266.917 217.703 275.675 220.132 284.597 221.517C286.581 221.874 288.585 221.892 290.589 221.91C302.01 221.848 313.057 219.555 324.158 217.469C329.761 216.412 335.419 215.562 341.153 214.581C342.113 214.435 342.942 214.212 343.895 213.624C342.071 213.446 340.218 213.165 338.449 213.195C327.207 213.098 316.142 211.177 305.098 208.916C298.151 207.446 291.109 206.446 284.451 203.565C272.028 198.232 259.557 193.134 247.389 187.51C234.826 181.658 221.893 176.906 208.587 173.253C206.783 172.737 204.827 172.483 202.967 171.76C210.908 167.411 218.988 163.58 227.76 160.675C229.124 162.864 231.191 163.531 233.361 164.171C240.239 166.215 246.745 169.358 252.948 173.027C265.09 180.213 276.949 187.585 289.698 193.719C299.536 198.524 309.947 201.731 320.701 203.736C329.81 205.404 338.884 206.527 348.135 205.825C354.865 205.243 361.455 204.143 367.872 201.98C373.28 200.198 378.724 198.961 384.437 198.319C384.88 198.311 385.398 198.172 385.916 198.033C385.61 196.894 384.67 196.701 383.938 196.453C382.763 196.213 381.588 195.973 380.337 195.864C371.215 194.976 361.989 194.117 352.867 193.229C347.836 192.689 342.701 192.177 337.767 191.167C324.655 188.24 311.964 183.978 299.92 177.987C292.128 174.189 284.591 170.101 277.254 165.515C270.733 161.487 263.613 158.953 256.341 156.681C254.51 156.062 252.602 155.573 250.798 155.057C250.431 154.933 249.934 154.733 249.173 154.382C250.078 154.028 250.465 153.814 250.907 153.806C257.94 152.699 264.945 151.489 271.978 150.381C273.042 150.207 273.954 150.296 274.777 151.297C275.255 151.836 276.071 152.394 276.776 152.538C282.699 153.506 287.491 156.886 292.711 159.374C298.297 161.986 303.429 165.387 308.484 168.918C315.462 173.823 323.39 176.474 331.499 178.965C338.404 181.113 345.537 182.866 352.759 183.708C361.626 184.885 370.548 186.271 379.496 186.094C384.229 185.936 388.76 184.611 393.105 183.003C397.553 181.367 402.001 179.731 406.58 178.171C406.787 178.115 406.967 177.956 407.166 177.458C405.605 177.432 404.015 177.303 402.53 177.146C393.491 176.569 384.48 176.096 375.489 175.285C366.63 174.549 358.183 172.037 349.832 169.055C343.341 166.797 336.926 164.407 330.559 161.782C327.178 160.355 324.205 158.376 320.976 156.687C316.067 154.115 311.365 151.488 305.829 150.306C305.124 150.162 304.495 149.886 303.886 149.272C304.432 149.237 304.846 149.126 305.42 149.194C313.643 149.212 321.873 149.672 330.11 150.574C331.7 150.704 333.345 151.04 334.838 151.64C347.903 156.468 361.148 161.137 375.074 162.958C383.028 164.047 390.968 164.252 399.011 164.429C404.27 164.575 409.528 164.721 414.731 164.659C419.153 164.585 423.624 164.275 427.99 163.994C435.19 163.508 442.493 162.995 449.798 164.147C450.033 164.195 450.212 164.036 451.041 163.814C449.914 163.339 449.258 162.959 448.525 162.711C436.829 158.849 424.988 155.692 412.976 153.136C401.33 150.703 389.588 148.741 377.853 147.221C370.03 146.208 362.29 145.506 354.434 145.612C351.573 145.712 348.796 146.123 345.963 146.327C343.676 146.495 341.438 146.429 339.206 146.805C333.755 147.599 328.398 146.258 323.112 146.009C320.535 145.922 318.046 144.923 315.517 144.601C309.884 143.889 304.252 143.177 298.751 142.541C298.516 142.493 298.15 142.369 297.548 142.197C298.142 141.927 298.425 141.74 298.632 141.685C304.925 139.887 311.162 137.883 317.483 136.189C320.695 135.329 324.149 134.958 327.528 134.719C334.935 134.179 342.301 134.315 349.778 134.866C361.553 135.708 373.171 138.037 384.754 139.82C390.179 140.587 395.701 140.884 401.146 141.313C402.293 141.45 403.385 141.38 404.553 141.178C410.418 140.273 416.387 139.339 422.224 138.331C423.91 137.99 425.457 137.131 427.155 136.01C426.789 135.886 426.526 135.734 426.188 135.714C418.261 134.728 410.706 132.644 403.095 130.352C398.755 129.072 394.186 128.186 389.618 127.3C379.776 125.384 369.934 123.468 360.147 121.759C352.241 120.435 344.087 119.844 336.023 120.005C330.509 120.15 325.329 121.538 320.044 122.954C311.002 125.266 302.584 129.076 294.518 133.792C289.623 136.658 284.485 139.034 279.374 141.514C278.007 142.214 276.425 142.527 274.947 142.812C267.472 143.926 260.072 144.909 252.673 145.892C252.259 146.004 251.92 145.983 251.263 145.604C252.292 144.884 253.265 143.957 254.425 143.313C260.529 139.567 266.633 135.822 272.84 132.049C276.086 130.069 279.144 127.805 282.445 126.033C290.772 121.469 299.537 118.121 308.842 115.961C313.429 114.843 318.091 113.594 322.678 112.476C334.29 109.808 345.966 107.791 357.935 109.359C362.185 109.886 366.339 110.882 370.542 111.644C371.35 111.761 372.159 111.877 373.437 112.09C372.801 111.372 372.455 110.91 372.061 110.682C368.395 107.778 364.446 105.06 360.098 103.338C356.876 102.091 353.427 101.238 350.034 100.593C341.028 98.8966 331.873 99.1287 322.738 99.0221C312.041 98.8898 301.998 102.025 291.927 105.057C283.487 107.541 275.455 111.136 267.562 115.25C261.526 118.422 256.398 122.906 250.951 127.031C245.145 131.474 240.107 136.711 235.36 142.203C232.144 145.952 228.638 149.445 225.264 153.015C224.753 153.596 224.007 154.129 223.31 154.427C218.814 156.298 214.421 158.141 209.925 160.012C209.614 160.095 209.304 160.179 208.758 160.214C210.351 157.455 211.736 154.751 213.281 152.228C217.357 145.472 221.799 138.84 227.112 132.974C227.954 131.971 228.823 131.072 229.534 129.993C235.735 121.224 243.417 113.835 251.867 107.24C252.15 107.053 252.433 106.866 252.612 106.707C259.621 102.608 266.554 98.6403 274.317 96.1158C277.578 95.0201 280.734 93.9522 283.966 92.753C288.207 91.1724 292.622 90.6558 297.009 90.0356C300.332 89.5894 303.786 89.2191 307.11 88.7728C308.173 88.5988 309.341 88.397 310.923 88.0842C310.107 87.5255 309.761 87.0629 309.263 86.8632C297.565 81.3355 285.27 78.9663 272.462 81.7317C264.373 83.4551 256.374 85.9314 249.055 90.1137C246.735 91.4018 244.255 92.5103 241.963 93.9019C239.077 95.5637 236.349 97.405 233.622 99.2463C232.207 100.181 230.978 101.398 229.563 102.333C222.673 107.289 217.132 113.549 212.04 120.243C209.343 123.854 206.383 127.312 203.685 130.922C196.559 140.383 192.343 151.175 189.385 162.517C188.773 164.791 188.631 167.162 188.253 169.484C188.117 170.631 187.662 171.419 186.709 172.008C184.313 173.427 181.944 174.95 179.473 176.501C179.19 176.688 178.851 176.667 178.436 176.778C178.238 172.723 178.745 168.811 179.59 164.92C181.686 154.919 185.482 145.462 190.038 136.356C195.828 124.81 201.356 113.111 206.02 101.09C210.408 89.697 212.238 77.8791 211.54 65.7393C211.286 61.4763 210.438 57.4834 208.208 53.3056C207.884 54.1697 207.581 54.6952 207.513 55.2688C206.052 64.3225 203.022 72.9081 200.019 81.5973C196.79 90.6807 192.301 99.2128 188.18 107.869C184.561 115.502 181.15 123.079 177.269 130.56C172.333 140.323 170.321 150.634 170.113 161.462C169.934 167.84 170.819 174.044 172.457 180.158C172.568 180.572 172.651 180.883 172.686 181.429C168.834 184.46 165.058 187.36 161.13 190.522C160.888 190.032 160.701 189.749 160.693 189.306C159.862 181.644 158.719 174.066 159.761 166.346C160.89 157.714 162.988 149.379 165.79 141.187C168.497 133.466 171.597 125.972 174.303 118.25C177.678 108.462 180.084 98.3775 179.726 87.9234C179.425 79.3418 176.845 71.3709 172.946 63.8646C172.891 63.6574 172.628 63.5057 172.31 63.1467C172.243 65.3856 172.356 67.4653 172.234 69.4969C171.604 79.9937 169.592 90.3056 166.64 100.425C163.488 111.042 160.073 121.508 156.817 132.153C154.422 139.791 152.393 147.553 150.937 155.384C149.846 161.673 149.46 168.107 149.827 174.45C150.003 177.179 150.725 179.873 151.315 182.491C152.378 186.87 153.026 191.361 155.491 195.587C152.24 198.79 149.065 201.862 145.559 205.355C145.1 202.813 144.621 200.609 144.273 198.482C143.64 194.875 143.082 191.138 142.449 187.532C142.331 186.675 142.081 185.743 141.962 184.886C141.29 177.403 140.721 169.893 140.049 162.41C139.495 155.785 140.324 149.344 141.491 142.923C142.781 136.136 144.57 129.549 146.697 122.982C148.577 117.148 150.325 111.238 151.499 105.259C153.018 98.0783 153.078 90.8436 151.916 83.6035C151.338 80.2046 149.626 75.888 147.626 72.9813C147.557 73.5549 147.433 73.9213 147.413 74.2599C147.053 79.1317 146.768 83.8722 146.511 88.7163C146.127 96.8151 143.365 104.329 140.5 111.871C136.236 122.898 132.235 134.076 129.464 145.701C126.445 158.06 126.108 170.477 128.555 182.926C129.264 186.4 129.973 189.875 130.578 193.378C131.552 198.67 133.997 203.234 136.262 207.958C136.802 209.146 137.239 210.361 138.062 211.362C138.969 212.674 138.542 213.566 137.7 214.569C136.12 216.547 134.512 218.421 132.932 220.399C130.386 223.747 127.972 227.17 125.378 230.752C125.212 230.131 124.997 229.744 125.017 229.405C124.954 222.537 123.591 215.795 122.54 208.969C121.864 204.375 121.161 199.677 120.692 195.027C120.022 189.21 119.22 183.317 118.964 177.389C118.645 170.811 119.239 164.322 120.406 157.901C121.621 151.246 123.175 144.61 123.92 137.858C125.131 127.872 127.019 117.927 127.187 107.776C127.256 102.649 126.083 97.8548 124.571 93.0405C124.543 92.9369 124.308 92.8888 124.018 92.6335C123.846 93.2348 123.542 93.7603 123.474 94.3339C121.558 104.176 119.877 114.066 117.726 123.86C116.544 129.396 114.525 134.712 113.212 140.172C110.53 150.886 107.876 161.703 105.664 172.512C103.981 180.737 103.915 189.195 104.395 197.617C104.501 199.255 104.738 200.968 105.078 202.654C107.107 211.883 109.654 220.973 113.831 229.516C115.341 232.665 116.851 235.814 118.333 238.859C118.846 239.943 119.199 240.848 118.62 242.003C115.497 248.17 112.534 254.517 109.411 260.684C109.259 260.947 109.08 261.106 108.569 261.687C108.367 260.52 108.277 259.767 108.186 259.013C107.245 252.602 106.409 246.163 105.364 239.78C104.731 236.174 103.477 232.734 102.664 229.287C101.942 226.593 101.144 224.031 100.63 221.281C99.6635 216.431 98.8009 211.554 97.8624 206.808C96.4444 199.859 95.8074 192.922 95.9233 185.895C95.9654 180.664 95.5653 175.44 95.711 170.182C95.8934 160.916 96.7808 151.793 98.6839 142.732C98.7801 142.262 98.8485 141.689 98.9447 141.219C98.8133 141.143 98.5783 141.095 98.4469 141.019C97.1575 143.252 95.7644 145.514 94.6341 147.927C91.2838 154.488 88.7976 161.373 86.3113 168.258C83.4256 176.139 82.1292 184.149 81.8006 192.455C81.4441 200.657 81.3986 208.777 82.3688 216.957C82.7521 219.63 83.3148 222.145 83.9053 224.763C85.0232 229.35 85.9062 233.888 87.335 238.392C89.2839 244.422 91.8267 250.182 93.9551 256.052C96.5757 263.346 98.8855 270.723 101.403 278.044C102.193 280.165 101.912 282.017 101.244 284.084C99.9639 288.425 98.9189 292.814 97.7424 297.127C98.3364 296.857 98.2328 296.884 98.0255 296.94Z" fill="#F69F82"></path>
    </svg>
  </span>
  <div class="flex flex-col-reverse md:flex-row items-end md:items-center justify-center gap-6 items-center px-6 md:px-0 ">
    <!-- Image -->
    <div class="w-1/2">
      {% if section.settings.image != blank %}
        <img
          class="max-h-[500px] object-contain"
          src="{{ section.settings.image | img_url: '800x' }}"
          alt="{{ section.settings.heading | escape }}"
        >
      {% endif %}
    </div>

    <!-- Text content -->
    <div>
      {% if section.settings.icon_svg != blank %}
        <div class="mb-4">
          {{ section.settings.icon_svg }}
        </div>
      {% endif %}

      <h3 class="text-4xl">
        {{ section.settings.heading }}
      </h3>

      <p class="mt-4 max-w-md font-second text-sm">
        {{ section.settings.description }}
      </p>

      <div class="flex items-center gap-2 mt-4">
        <a href="{{ section.settings.link_url }}" class="underline hover:opacity-80">
          {{ section.settings.link_text }}
        </a>
        {% if section.settings.link_icon_svg != blank %}
          {{ section.settings.link_icon_svg }}
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image + text with link",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Left image"
    },
    {
      "type": "textarea",
      "id": "icon_svg",
      "label": "Top SVG icon",
      "info": "Paste your SVG code here if needed"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "This is a family business."
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Sibling founders Akash & Niki Mehta are on a mission to bring Indian hair secrets to the world, inviting you to awaken your roots with wild wisdom."
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link text",
      "default": "Read our story"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link URL",
      "default": "/"
    },
    {
      "type": "textarea",
      "id": "link_icon_svg",
      "label": "Link SVG icon",
      "info": "Paste small SVG code for the link arrow"
    }
  ],
  "presets": [
    {
      "name": "Image + text with link"
    }
  ]
}
{% endschema %}
